section#login{
    display: grid;
    place-content: center;
    height: 100vh;
    overflow: hidden;
}

section#login div.contenido-login .data{
    box-shadow: 0px 0px 9px 0px #bebebe;
    border-radius: 6px;
    padding: 50px;
}